#1{
    font-family: 'Courier New', Courier, monospace;
    font-display: goldenrod;
    padding-top: 50px;
    padding-left: 75px;
}

#2{
    font-family: 'Courier New', Courier, monospace;
    font-display: aqua;
    padding-top: 50px;
    padding-left: 75px;
}